# Reading the data

In [ ]:
# connecting the colab file from drive
from google.colab import drive
from tqdm import tqdm
drive.mount("/content/drive")
%cd '/content/drive/My Drive/Research/Philantrophy Research'

# reading file
import pandas as pd
df = pd.read_csv("Orphan_tweets_COVID-19.csv")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/My Drive/Research/Philantrophy Research

# Data Pre-processsing

In [ ]:
!pip install emot
!pip install emoji
import re
import pickle
from emot import *
import emoji
from emot.emo_unicode import EMOJI_UNICODE
from emot.emo_unicode import EMOTICONS_EMO # For EMOTICONS
from tqdm import tqdm

# converting emojis to word
def convert_emojis_to_word(selected_review):
  for i in tqdm(range(len(selected_review))):
    #print(type(selected_review[i]))
    review=str(selected_review[i])
    selected_review[i]=emoji.demojize(review, delimiters=("", " "))
  return selected_review

# Converting emoticons to word
# adopted from https://stackoverflow.com/questions/70935501/unbalanced-parenthesis-regex
def convert_emoticons_to_word(selected_review):
  for i in tqdm(range(0,len(selected_review))):
    review=str(selected_review[i])
    for emot in EMOTICONS_EMO:
      review= review.replace(emot, EMOTICONS_EMO[emot].replace(" "," "))
    selected_review[i]=review
  return selected_review

# executing the functions that convert emojis and emoticons
df["text"]=convert_emojis_to_word(df["text"])
df["text"]=convert_emojis_to_word(df["text"])

# removing punctuation and special characters
df["text"] = df['text'].str.replace('[^A-Za-z ]','',regex=True) ## note: all Tweets have already been lowered case as part of the cleaning process

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: emot in /usr/local/lib/python3.8/dist-packages (3.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: emoji in /usr/local/lib/python3.8/dist-packages (2.2.0)

  0%|          | 0/415 [00:00<?, ?it/s]<ipython-input-10-01fdb46f5a7b>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  selected_review[i]=emoji.demojize(review, delimiters=("", " "))
100%|██████████| 415/415 [00:00<00:00, 2233.63it/s]
100%|██████████| 415/415 [00:00<00:00, 2623.50it/s]

# Sentiment Classification

In [ ]:
# installing flair
!pip install flair
from flair.models import TextClassifier
classifier = TextClassifier.load('en-sentiment')
from flair.data import Sentence

# Predicting the sentiments of the text using FLAIR 
def score_flair(text):
    sentence = Sentence(text) #takes the sentence 
    classifier.predict(sentence) #predicts the sentiment 
    score = sentence.labels[0].score # Getting the confidence of the sentiment 
    value = sentence.labels[0].value # Getting the sentiment 
    return score, value


# Get sentiment score for each review
df['sentiment_score_flair'] = df['text'].apply(lambda s: score_flair(s)[0])
# Predict sentiment label for each review
df['sentiment_NEG'] = df['text'].apply(lambda s: score_flair(s)[1])
df

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: flair in /usr/local/lib/python3.8/dist-packages (0.11.3)
Requirement already satisfied: segtok>=1.5.7 in /usr/local/lib/python3.8/dist-packages (from flair) (1.5.11)
Requirement already satisfied: bpemb>=0.3.2 in /usr/local/lib/python3.8/dist-packages (from flair) (0.3.4)
Requirement already satisfied: sentencepiece==0.1.95 in /usr/local/lib/python3.8/dist-packages (from flair) (0.1.95)
Requirement already satisfied: conllu>=4.0 in /usr/local/lib/python3.8/dist-packages (from flair) (4.5.2)
Requirement already satisfied: torch!=1.8,>=1.5.0 in /usr/local/lib/python3.8/dist-packages (from flair) (1.13.0+cu116)
Requirement already satisfied: gdown==4.4.0 in /usr/local/lib/python3.8/dist-packages (from flair) (4.4.0)
Requirement already satisfied: huggingface-hub in /usr/local/lib/python3.8/dist-packages (from flair) (0.11.1)
Requirement already satisfied: ftfy in /usr/local/lib/python3.8/dist-packages (from flair) (6.1.1)
Requirement already satisfied: wikipedia-api in /usr/local/lib/python3.8/dist-packages (from flair) (0.5.8)
Requirement already satisfied: regex in /usr/local/lib/python3.8/dist-packages (from flair) (2022.6.2)
Requirement already satisfied: matplotlib>=2.2.3 in /usr/local/lib/python3.8/dist-packages (from flair) (3.2.2)
Requirement already satisfied: tabulate in /usr/local/lib/python3.8/dist-packages (from flair) (0.8.10)
Requirement already satisfied: tqdm>=4.26.0 in /usr/local/lib/python3.8/dist-packages (from flair) (4.64.1)
Requirement already satisfied: janome in /usr/local/lib/python3.8/dist-packages (from flair) (0.4.2)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.8/dist-packages (from flair) (9.0.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.8/dist-packages (from flair) (4.9.2)
Requirement already satisfied: konoha<5.0.0,>=4.0.0 in /usr/local/lib/python3.8/dist-packages (from flair) (4.6.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.8/dist-packages (from flair) (2.8.2)
Requirement already satisfied: langdetect in /usr/local/lib/python3.8/dist-packages (from flair) (1.0.9)
Requirement already satisfied: hyperopt>=0.2.7 in /usr/local/lib/python3.8/dist-packages (from flair) (0.2.7)
Requirement already satisfied: sqlitedict>=1.6.0 in /usr/local/lib/python3.8/dist-packages (from flair) (2.1.0)
Requirement already satisfied: deprecated>=1.2.4 in /usr/local/lib/python3.8/dist-packages (from flair) (1.2.13)
Requirement already satisfied: pptree in /usr/local/lib/python3.8/dist-packages (from flair) (3.1)
Requirement already satisfied: gensim>=3.4.0 in /usr/local/lib/python3.8/dist-packages (from flair) (3.6.0)
Requirement already satisfied: mpld3==0.3 in /usr/local/lib/python3.8/dist-packages (from flair) (0.3)
Requirement already satisfied: transformers>=4.0.0 in /usr/local/lib/python3.8/dist-packages (from flair) (4.25.1)
Requirement already satisfied: scikit-learn>=0.21.3 in /usr/local/lib/python3.8/dist-packages (from flair) (1.0.2)
Requirement already satisfied: filelock in /usr/local/lib/python3.8/dist-packages (from gdown==4.4.0->flair) (3.8.2)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.8/dist-packages (from gdown==4.4.0->flair) (2.25.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.8/dist-packages (from gdown==4.4.0->flair) (4.6.3)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from gdown==4.4.0->flair) (1.15.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from bpemb>=0.3.2->flair) (1.21.6)
Requirement already satisfied: wrapt<2,>=1.10 in /usr/local/lib/python3.8/dist-packages (from deprecated>=1.2.4->flair) (1.14.1)
Requirement already satisfied: smart-open>=1.2.1 in /usr/local/lib/python3.8/dist-packages (from gensim>=3.4.0->flair) (6.3.0)
Requirement already satisfied: scipy>=0.18.1 in /usr/local/lib/python3.8/dist-packages (from gensim>=3.4.0->flair) (1.7.3)
Requirement already satisfied: networkx>=2.2 in /usr/local/lib/python3.8/dist-packages (from hyperopt>=0.2.7->flair) (2.8.8)
Requirement already satisfied: cloudpickle in /usr/local/lib/python3.8/dist-packages (from hyperopt>=0.2.7->flair) (1.5.0)
Requirement already satisfied: py4j in /usr/local/lib/python3.8/dist-packages (from hyperopt>=0.2.7->flair) (0.10.9.7)
Requirement already satisfied: future in /usr/local/lib/python3.8/dist-packages (from hyperopt>=0.2.7->flair) (0.16.0)
Requirement already satisfied: overrides<4.0.0,>=3.0.0 in /usr/local/lib/python3.8/dist-packages (from konoha<5.0.0,>=4.0.0->flair) (3.1.0)
Requirement already satisfied: importlib-metadata<4.0.0,>=3.7.0 in /usr/local/lib/python3.8/dist-packages (from konoha<5.0.0,>=4.0.0->flair) (3.10.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=2.2.3->flair) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=2.2.3->flair) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=2.2.3->flair) (3.0.9)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.21.3->flair) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.21.3->flair) (3.1.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.8/dist-packages (from torch!=1.8,>=1.5.0->flair) (4.4.0)
Requirement already satisfied: tokenizers!=0.11.3,<0.14,>=0.11.1 in /usr/local/lib/python3.8/dist-packages (from transformers>=4.0.0->flair) (0.13.2)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.8/dist-packages (from transformers>=4.0.0->flair) (6.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from transformers>=4.0.0->flair) (21.3)
Requirement already satisfied: wcwidth>=0.2.5 in /usr/local/lib/python3.8/dist-packages (from ftfy->flair) (0.2.5)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.8/dist-packages (from importlib-metadata<4.0.0,>=3.7.0->konoha<5.0.0,>=4.0.0->flair) (3.11.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown==4.4.0->flair) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown==4.4.0->flair) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown==4.4.0->flair) (2022.12.7)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown==4.4.0->flair) (4.0.0)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.8/dist-packages (from requests[socks]->gdown==4.4.0->flair) (1.7.1)
2023-01-04 18:07:40,194 loading file /root/.flair/models/sentiment-en-mix-distillbert_4.pt

,status_id,user_id,created_at,screen_name,text,source,reply_to_status_id,reply_to_user_id,reply_to_screen_name,is_quote,...,place_type,followers_count,friends_count,account_lang,account_created_at,verified,lang,time,sentiment_score_flair,sentiment_NEG
0,1250946636454518786,1117888059691995136,2020-04-17T00:38:14Z,sixty8eyes,just like germany paid reparations for holocau...,Twitter for iPhone,NaN,NaN,NaN,False,...,NaN,20,835,NaN,2019-04-15T20:30:57Z,False,en,2020-04-17,0.987752,POSITIVE
1,1251020605140410368,148455969,2020-04-17T05:32:09Z,sacsaraf,cont pmoindia amitshah nsitharaman nsitharaman...,Twitter for Android,NaN,NaN,NaN,False,...,NaN,33,121,NaN,2010-05-26T19:02:40Z,False,en,2020-04-17,0.999850,NEGATIVE
2,1251040259695050752,134349464,2020-04-17T06:50:15Z,DotunAdesua,may soocial media giveaways not replace giving...,Twitter for Android,NaN,NaN,NaN,False,...,NaN,1465,209,NaN,2010-04-18T04:59:13Z,False,en,2020-04-17,0.528027,NEGATIVE
3,1251044932191686656,956160317763018753,2020-04-17T07:08:49Z,SueGile56179408,currently reading houseoforphans by helen dunm...,Twitter for Android,NaN,NaN,NaN,False,...,NaN,10,153,NaN,2018-01-24T13:42:39Z,False,en,2020-04-17,0.995088,POSITIVE
4,1251098786765537281,780499166896291841,2020-04-17T10:42:49Z,PrabhasFanArmy,prabhas fans from podalakuru nellore dist dist...,Twitter for Android,NaN,NaN,NaN,False,...,NaN,8999,0,NaN,2016-09-26T20:07:57Z,False,en,2020-04-17,0.983888,POSITIVE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410,1245823451614654465,228487825,2020-04-02T21:20:31Z,IsraelNitzan,israelis raise half a million dollars in hour...,Twitter for iPhone,NaN,NaN,NaN,False,...,NaN,7692,6951,NaN,2010-12-19T21:37:38Z,True,en,2020-04-02,0.909295,NEGATIVE
411,1245825084364857350,1316869394,2020-04-02T21:27:01Z,SahraRazi,we are instructing are orphans and widows to c...,Twitter for iPhone,NaN,NaN,NaN,True,...,NaN,8,2,NaN,2013-03-30T17:34:15Z,False,en,2020-04-02,0.991975,NEGATIVE
412,1246778971364167682,2464329458,2020-04-05T12:37:25Z,MediaEye360,hydroxichloroqueen billgates of hell gkillshot...,Twitter Web App,NaN,NaN,NaN,False,...,NaN,731,936,NaN,2014-04-26T08:50:07Z,False,fi,2020-04-05,0.999680,NEGATIVE
413,1246841220934098944,1174608015095451648,2020-04-05T16:44:46Z,fdrazi_org,our orphans and widows are taking nigellaseeds...,Twitter for iPhone,NaN,NaN,NaN,False,...,NaN,20,2,NaN,2019-09-19T08:56:01Z,False,en,2020-04-05,0.988847,POSITIVE
414,1246843434817617921,236340456,2020-04-05T16:53:34Z,is0ac,u seem to b confused very confused covid has e...,Twitter for Android,NaN,NaN,NaN,True,...,NaN,15,150,NaN,2011-01-10T10:54:36Z,False,en,2020-04-05,0.999933,NEGATIVE

In [ ]:
# Counting the number of positive vs negative scores
df['sentiment_NEG'].value_counts()

POSITIVE    218
NEGATIVE    197
Name: sentiment_NEG, dtype: int64

In [ ]:
# Counting the mean confidence - it seems pretty high which is a good thing (ie the classifier is confident of the sentiments)
df["sentiment_score_flair"].mean()

0.9134345744029585

# Emotion Classification

In [ ]:
# installing NRCLex

!pip install NRCLex
# classifying tweets emotions
from nrclex import NRCLex
import nltk
nltk.download('punkt')

# Extracting the emotions 
def top_emotion_extractor(top_emotion):
  emotions=[]
  for i in top_emotion:
    emotions.append(str(i[0]))
  return(emotions)

# returning the list of emotions identified
def return_bin(emotion,list_of_emo):
  if emotion in list_of_emo:
    boo=1
  else:
    boo=0
  return(boo)

# Returning emotions of "fear", "anger", "sadness" and "disgust"
def emotion_classifier(text):
  emotions=top_emotion_extractor(NRCLex(text).top_emotions)
  fear=return_bin("fear",emotions)
  anger=return_bin("anger",emotions)
  sadness=return_bin("sadness",emotions)
  disgust=return_bin("disgust",emotions)
  return (fear,anger,sadness,disgust)

# Get emotion for each review
df['fear'] = df['text'].apply(lambda s: emotion_classifier(s)[0])
df['anger'] = df['text'].apply(lambda s: emotion_classifier(s)[1])
df['sadness'] = df['text'].apply(lambda s: emotion_classifier(s)[2])
df['disgust'] = df['text'].apply(lambda s: emotion_classifier(s)[3])
df

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: NRCLex in /usr/local/lib/python3.8/dist-packages (3.0.0)
Requirement already satisfied: textblob in /usr/local/lib/python3.8/dist-packages (from NRCLex) (0.15.3)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.8/dist-packages (from textblob->NRCLex) (3.7)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.8/dist-packages (from nltk>=3.1->textblob->NRCLex) (2022.6.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.8/dist-packages (from nltk>=3.1->textblob->NRCLex) (1.2.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from nltk>=3.1->textblob->NRCLex) (4.64.1)
Requirement already satisfied: click in /usr/local/lib/python3.8/dist-packages (from nltk>=3.1->textblob->NRCLex) (7.1.2)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

,status_id,user_id,created_at,screen_name,text,source,reply_to_status_id,reply_to_user_id,reply_to_screen_name,is_quote,...,account_created_at,verified,lang,time,sentiment_score_flair,sentiment_NEG,fear,anger,sadness,disgust
0,1250946636454518786,1117888059691995136,2020-04-17T00:38:14Z,sixty8eyes,just like germany paid reparations for holocau...,Twitter for iPhone,NaN,NaN,NaN,False,...,2019-04-15T20:30:57Z,False,en,2020-04-17,0.987752,POSITIVE,0,0,1,1
1,1251020605140410368,148455969,2020-04-17T05:32:09Z,sacsaraf,cont pmoindia amitshah nsitharaman nsitharaman...,Twitter for Android,NaN,NaN,NaN,False,...,2010-05-26T19:02:40Z,False,en,2020-04-17,0.999850,NEGATIVE,1,0,1,0
2,1251040259695050752,134349464,2020-04-17T06:50:15Z,DotunAdesua,may soocial media giveaways not replace giving...,Twitter for Android,NaN,NaN,NaN,False,...,2010-04-18T04:59:13Z,False,en,2020-04-17,0.528027,NEGATIVE,0,0,0,0
3,1251044932191686656,956160317763018753,2020-04-17T07:08:49Z,SueGile56179408,currently reading houseoforphans by helen dunm...,Twitter for Android,NaN,NaN,NaN,False,...,2018-01-24T13:42:39Z,False,en,2020-04-17,0.995088,POSITIVE,1,1,1,1
4,1251098786765537281,780499166896291841,2020-04-17T10:42:49Z,PrabhasFanArmy,prabhas fans from podalakuru nellore dist dist...,Twitter for Android,NaN,NaN,NaN,False,...,2016-09-26T20:07:57Z,False,en,2020-04-17,0.983888,POSITIVE,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410,1245823451614654465,228487825,2020-04-02T21:20:31Z,IsraelNitzan,israelis raise half a million dollars in hour...,Twitter for iPhone,NaN,NaN,NaN,False,...,2010-12-19T21:37:38Z,True,en,2020-04-02,0.909295,NEGATIVE,1,1,1,0
411,1245825084364857350,1316869394,2020-04-02T21:27:01Z,SahraRazi,we are instructing are orphans and widows to c...,Twitter for iPhone,NaN,NaN,NaN,True,...,2013-03-30T17:34:15Z,False,en,2020-04-02,0.991975,NEGATIVE,1,0,0,0
412,1246778971364167682,2464329458,2020-04-05T12:37:25Z,MediaEye360,hydroxichloroqueen billgates of hell gkillshot...,Twitter Web App,NaN,NaN,NaN,False,...,2014-04-26T08:50:07Z,False,fi,2020-04-05,0.999680,NEGATIVE,1,1,1,1
413,1246841220934098944,1174608015095451648,2020-04-05T16:44:46Z,fdrazi_org,our orphans and widows are taking nigellaseeds...,Twitter for iPhone,NaN,NaN,NaN,False,...,2019-09-19T08:56:01Z,False,en,2020-04-05,0.988847,POSITIVE,0,0,0,0
414,1246843434817617921,236340456,2020-04-05T16:53:34Z,is0ac,u seem to b confused very confused covid has e...,Twitter for Android,NaN,NaN,NaN,True,...,2011-01-10T10:54:36Z,False,en,2020-04-05,0.999933,NEGATIVE,0,0,0,0

In [ ]:
(df.sort_values(by=['created_at'])).head(50)

,status_id,user_id,created_at,screen_name,text,source,reply_to_status_id,reply_to_user_id,reply_to_screen_name,is_quote,...,account_created_at,verified,lang,time,sentiment_score_flair,sentiment_NEG,fear,anger,sadness,disgust
215,1244078921869647872,330510566,2020-03-29T01:48:23Z,Zaheer_Bux,humans dont deserve the world we have bombed h...,Twitter for Android,NaN,NaN,NaN,False,...,2011-07-06T18:42:02Z,False,en,2020-03-29,0.999665,NEGATIVE,0,0,0,0
216,1244081073841209346,348092647,2020-03-29T01:56:56Z,pdhmin,doom to those who write wicked decrees and kee...,Twitter for Android,NaN,NaN,NaN,False,...,2011-08-03T21:30:38Z,False,en,2020-03-29,0.996239,NEGATIVE,0,0,0,0
217,1244128158804140032,355989081,2020-03-29T05:04:02Z,ANI,indira canteens functioning here will distrib...,Twitter Web App,NaN,NaN,NaN,False,...,2011-08-16T05:23:41Z,True,en,2020-03-29,0.939405,POSITIVE,0,0,0,0
218,1244142260448616448,785154787683790848,2020-03-29T06:00:04Z,IbadinSandra,at the end of this pandemic so many people aro...,Twitter for iPhone,NaN,NaN,NaN,False,...,2016-10-09T16:27:43Z,False,en,2020-03-29,0.567353,POSITIVE,1,0,1,0
219,1244162435294138371,823968755067797504,2020-03-29T07:20:14Z,Xenohadi,indira canteens functioning here will distrib...,IFTTT,NaN,NaN,NaN,False,...,2017-01-24T19:00:34Z,False,en,2020-03-29,0.916482,POSITIVE,0,0,0,0
220,1244211040201646081,836815544,2020-03-29T10:33:22Z,FrPhilTangorra,i am currently incapable of getting out to sen...,Twitter for Android,NaN,NaN,NaN,True,...,2012-09-21T02:25:45Z,False,en,2020-03-29,0.994971,NEGATIVE,0,0,0,0
221,1244232591055740928,1231667416427585537,2020-03-29T11:59:01Z,towotproject,towot leadership covid coronavirus preventivem...,Twitter Web App,1.244233e+18,1.231667e+18,towotproject,False,...,2020-02-23T19:49:57Z,False,und,2020-03-29,0.986971,POSITIVE,0,0,0,0
222,1244237503525277697,1594012968,2020-03-29T12:18:32Z,apehpeter,nathanielblow i agree can you kindly partner w...,Twitter for Android,1.244235e+18,2.109584e+08,nathanielblow,False,...,2013-07-14T18:55:58Z,False,en,2020-03-29,0.850529,POSITIVE,0,0,0,0
223,1244244432922136578,917396903880306688,2020-03-29T12:46:04Z,RevuriSrinivas9,i humbly req ktrtrs ministerktr garu pls kin...,Twitter for Android,NaN,NaN,NaN,False,...,2017-10-09T14:30:41Z,False,en,2020-03-29,0.776243,NEGATIVE,0,0,0,0
224,1244258488387338241,1594012968,2020-03-29T13:41:55Z,apehpeter,bukolasaraki good day sir would you like to pa...,Twitter for Android,1.244227e+18,1.570114e+08,bukolasaraki,False,...,2013-07-14T18:55:58Z,False,en,2020-03-29,0.817308,POSITIVE,0,0,0,0
225,1244259755830513667,1594012968,2020-03-29T13:46:57Z,apehpeter,abati good day sir great leader missiontabitha...,Twitter for Android,1.244142e+18,5.990011e+08,abati1990,False,...,2013-07-14T18:55:58Z,False,en,2020-03-29,0.924752,POSITIVE,0,0,0,0
226,1244261225241948162,1594012968,2020-03-29T13:52:48Z,apehpeter,mazinnamdikanu good day sir great leader missi...,Twitter for Android,1.244259e+18,1.056923e+18,MaziNnamdiKanu,False,...,2013-07-14T18:55:58Z,False,en,2020-03-29,0.973094,POSITIVE,0,0,0,0
227,1244262758910050304,1172923012493922304,2020-03-29T13:58:53Z,WSPZoo,poverty soared after the spanish flu because o...,Twitter Web App,NaN,NaN,NaN,False,...,2019-09-14T17:20:28Z,False,en,2020-03-29,0.984587,NEGATIVE,0,0,0,0
228,1244268974780698624,2263593890,2020-03-29T14:23:35Z,ChildbirthSI,csiuganda is proud to supportjoin minofhealthu...,Twitter for Android,NaN,NaN,NaN,False,...,2013-12-27T01:41:51Z,False,en,2020-03-29,0.984498,POSITIVE,0,0,0,0
229,1244276092233568258,1594012968,2020-03-29T14:51:52Z,apehpeter,delemomodu good day sir and thank you for all ...,Twitter for Android,1.244268e+18,2.523812e+07,DeleMomodu,False,...,2013-07-14T18:55:58Z,False,en,2020-03-29,0.923880,POSITIVE,0,0,0,0
230,1244277609397211136,1594012968,2020-03-29T14:57:54Z,apehpeter,apostlesuleman good day daddy missiontabitha i...,Twitter for Android,1.244270e+18,2.975628e+08,APOSTLESULEMAN,False,...,2013-07-14T18:55:58Z,False,en,2020-03-29,0.926712,POSITIVE,0,0,0,0
231,1244321457456455680,1217828526847676416,2020-03-29T17:52:08Z,aaronykafinta,loraleeliving pray along with christian orphan...,Twitter for Android,NaN,5.158906e+08,loraleeliving,False,...,2020-01-16T15:19:17Z,False,en,2020-03-29,0.995431,POSITIVE,1,0,0,0
232,1244345856343650314,1244238583688544260,2020-03-29T19:29:05Z,MarthaCentre,god bless these little ones because they even ...,Twitter for Android,NaN,NaN,NaN,False,...,2020-03-29T12:23:54Z,False,en,2020-03-29,0.999454,NEGATIVE,0,0,0,0
233,1244354503400398849,1241511748638826497,2020-03-29T20:03:27Z,AmyDresser6,just me who feels sorry for all these kids who...,Twitter for Android,NaN,NaN,NaN,False,...,2020-03-21T23:47:33Z,False,en,2020-03-29,0.960892,NEGATIVE,0,0,0,0
234,1244378473369677825,825535538203615233,2020-03-29T21:38:42Z,CleanNGreenLdmt,please donate this very important cause httpst...,Twitter for iPhone,NaN,NaN,NaN,False,...,2017-01-29T02:46:24Z,False,en,2020-03-29,0.952554,POSITIVE,1,0,1,0
385,1244421619411550208,1169981382,2020-03-30T00:30:08Z,JeffMcGuire3,fdr december have you seen my radio ratings ...,Twitter for iPhone,NaN,NaN,NaN,False,...,2013-02-11T20:47:13Z,False,en,2020-03-30,0.996214,NEGATIVE,0,0,1,0
386,1244433791382421504,53429270,2020-03-30T01:18:30Z,smithbaptist,mdde baptists although our bcmdkenya Kenya su...,Twitter for iPhone,NaN,NaN,NaN,False,...,2009-07-03T16:30:28Z,False,en,2020-03-30,0.987071,POSITIVE,0,0,0,0
387,1244528727045722112,42568210,2020-03-30T07:35:45Z,ishaanchhabra90,please donate to the more transparent prime mi...,Twitter Web App,NaN,NaN,NaN,True,...,2009-05-26T04:57:19Z,False,en,2020-03-30,0.999946,NEGATIVE,0,0,0,0
388,1244541821243609089,2852249323,2020-03-30T08:27:47Z,AliasWardak,yes we can distribution of food packages inc...,Twitter for iPhone,NaN,NaN,NaN,False,...,2014-10-11T17:12:04Z,False,en,2020-03-30,0.745046,POSITIVE,0,0,0,0
389,1244573139683680257,888650520,2020-03-30T10:32:14Z,EdHull8,so trump thinks ny medical personal are steali...,Twitter Web App,NaN,NaN,NaN,False,...,2012-10-18T11:58:14Z,False,en,2020-03-30,0.999762,NEGATIVE,0,0,0,0
390,1244611100630384644,2889491559,2020-03-30T13:03:04Z,tsctalks_jill,raredisease lovestory mondaymotivation bofs g...,Twitter Web App,NaN,NaN,NaN,True,...,2014-11-23T18:40:35Z,False,und,2020-03-30,0.992010,POSITIVE,1,1,1,1
391,1244619242093400064,1177440956712275969,2020-03-30T13:35:25Z,ArdenWalker4,a bit grim but why ive had no problem taking c...,Twitter for Android,NaN,NaN,NaN,False,...,2019-09-27T04:33:10Z,False,en,2020-03-30,0.972367,NEGATIVE,1,0,0,0
392,1244693762707804166,1400819095,2020-03-30T18:31:32Z,UNPOL,uncar police component provided sanitary kits ...,Twitter Web App,NaN,NaN,NaN,False,...,2013-05-03T21:44:02Z,True,en,2020-03-30,0.993005,POSITIVE,0,0,0,0
393,1244748725207040001,1869452940,2020-03-30T22:09:57Z,TheDestinyTrust,we had a busy day packing and delivering food ...,Twitter for Android,NaN,NaN,NaN,False,...,2013-09-15T22:59:30Z,False,en,2020-03-30,0.993199,POSITIVE,0,0,0,0
394,1244749760445046784,18821271,2020-03-30T22:14:03Z,emotiondesigner,we should all marvel at what a historic time w...,Twitter Web App,NaN,NaN,NaN,False,...,2009-01-10T00:16:27Z,False,en,2020-03-30,0.988712,POSITIVE,0,0,0,0
395,1244752393532780544,4913320595,2020-03-30T22:24:31Z,Only_rock_radio,stayathomeandstaysafe this is music on httpstc...,tiorradio3 publisher,NaN,NaN,NaN,False,...,2016-02-15T12:09:37Z,False,en,2020-03-30,0.969450,POSITIVE,0,0,0,0
396,1244754609710620672,28886855,2020-03-30T22:33:20Z,jettica65,as soon as coronavirus passesthe execution sch...,Twitter for iPhone,NaN,NaN,NaN,False,...,2009-04-04T22:43:34Z,False,en,2020-03-30,0.998434,NEGATIVE,0,0,0,0
397,1244758215306420225,1033946313858142208,2020-03-30T22:47:39Z,KarineOmry,jettica cnocbeag jessintexas angelorphan carol...,Twitter Web App,1.244756e+18,2.888686e+07,jettica65,False,...,2018-08-27T05:16:25Z,False,en,2020-03-30,0.881108,NEGATIVE,1,1,0,0
398,1244772157357465600,31231431,2020-03-30T23:43:03Z,TripleCrowncoug,slightly unsettled by my childrens serious dis...,Twitter for Android,NaN,NaN,NaN,False,...,2009-04-14T21:27:30Z,False,en,2020-03-30,0.731279,NEGATIVE,1,0,0,0
297,1244848361703866369,32015457,2020-03-31T04:45:52Z,MTomsons,theellenshow hi ellen our orphanage is running...,Twitter Web App,NaN,1.584641e+07,TheEllenShow,False,...,2009-04-16T17:36:26Z,False,en,2020-03-31,0.720038,NEGATIVE,0,0,0,0
298,1244885379502792707,953692577206816768,2020-03-31T07:12:57Z,ErnEyeEU,find updates about covid for rare diseases on ...,Twitter for Android,NaN,NaN,NaN,True,...,2018-01-17T18:16:44Z,False,en,2020-03-31,0.985367,NEGATIVE,1,1,1,1
299,1244898535541297157,1485248395,2020-03-31T08:05:14Z,Sir_F_Caspian,tulip brokenheart damncancer noca...,Twitter for iPhone,1.244898e+18,1.485248e+09,Sir_F_Caspian,False,...,2013-06-05T14:56:00Z,False,fa,2020-03-31,0.949379,NEGATIVE,1,0,1,0
300,1244899388310380544,2353322556,2020-03-31T08:08:37Z,patriciamunabi,enasikye fowodeuganda yes it is times like the...,Twitter for Android,1.244898e+18,2.881905e+08,enasikye,False,...,2014-02-20T14:27:42Z,False,en,2020-03-31,0.974660,POSITIVE,1,0,0,0
301,1244909793409728512,343634329,2020-03-31T08:49:58Z,PositiveActionK,children aged yrs comprising of orphans amp ...,Twitter for Android,NaN,NaN,NaN,False,...,2011-07-27T21:22:25Z,False,en,2020-03-31,0.997047,NEGATIVE,0,0,0,0
302,1244921531819581440,181511883,2020-03-31T09:36:37Z,titirufu,having the responsibility of looking after or...,Twitter for Android,NaN,NaN,NaN,False,...,2010-08-22T11:32:17Z,False,en,2020-03-31,0.774997,POSITIVE,0,0,0,0
303,1244937722558627840,1181927507697819649,2020-03-31T10:40:57Z,Virgobayb1,after covid businesses will go underpple will ...,Twitter for Android,NaN,NaN,NaN,False,...,2019-10-09T13:41:54Z,False,en,2020-03-31,0.780209,POSITIVE,1,0,0,0
304,1244939922701791232,1164309859380203523,2020-03-31T10:49:42Z,FoundationNdes,kids from teleola martha st glory mountain ki...,Twitter Web App,NaN,NaN,NaN,False,...,2019-08-21T22:55:09Z,False,en,2020-03-31,0.982427,POSITIVE,0,0,0,0
305,1244964617803235329,250732442,2020-03-31T12:27:49Z,Merci_Busumane,what about the street kids the homeless those ...,Twitter for iPhone,NaN,NaN,NaN,False,...,2011-02-11T17:55:46Z,False,en,2020-03-31,0.911230,NEGATIVE,0,0,0,0
306,1244966277669666816,4225167093,2020-03-31T12:34:25Z,stephenakintayo,reading response from the two orphanage that g...,Twitter for Android,NaN,NaN,NaN,False,...,2015-11-19T09:19:03Z,False,en,2020-03-31,0.894609,POSITIVE,0,0,0,0
307,1245019307173654528,2431966154,2020-03-31T16:05:08Z,Floralife1938,great idea with events canceling for coronavir...,Hootsuite Inc.,NaN,NaN,NaN,False,...,2014-04-07T12:27:14Z,False,en,2020-03-31,0.981134,NEGATIVE,0,0,0,0
308,1245031117549441026,221046095,2020-03-31T16:52:04Z,MissionNewswire,making lifesaving masks providing health kits ...,Twitter Web Client,NaN,NaN,NaN,False,...,2010-11-29T15:56:15Z,False,en,2020-03-31,0.979224,POSITIVE,0,0,0,0
309,1245064455827927044,32015457,2020-03-31T19:04:33Z,MTomsons,pulte would you consider helping to fund criti...,Twitter Web App,NaN,2.502950e+07,pulte,False,...,2009-04-16T17:36:26Z,False,en,2020-03-31,0.959344,POSITIVE,0,0,0,0
310,1245070166419005441,246970040,2020-03-31T19:27:14Z,Istanbultelaviv,today israeli news nnews brought stories of w...,Twitter Web App,NaN,NaN,NaN,False,...,2011-02-03T20:48:02Z,True,en,2020-03-31,0.769382,POSITIVE,0,0,0,0
311,1245085564740743169,20294990,2020-03-31T20:28:25Z,NewsThaivisa,beiersdorf alcohol hand sanitisers for hospita...,Sprout Social,NaN,NaN,NaN,False,...,2009-02-07T05:06:41Z,False,en,2020-03-31,0.961234,POSITIVE,1,1,1,1
312,1245113590769750022,96982570,2020-03-31T22:19:47Z,ChiefGaryLudwig,just talked with a firechief who is using rain...,Twitter Web App,NaN,NaN,NaN,True,...,2009-12-15T13:41:12Z,False,en,2020-03-31,0.999042,NEGATIVE,1,0,0,0

# Organizing, Aggregating and saving the data

In [ ]:
# counting and aggregating the counts of Tweets
df_orphan=pd.DataFrame(df['time'].value_counts().sort_index()).rename(columns={"time": "Tweets"})

# This function aggregate the specified sentiments and emotions by date
def sentiment_count(sentiment,value,df):
  df_sentiment=df[df[sentiment]==value]
  s = df_sentiment['time'].value_counts().sort_index()
  return(pd.DataFrame(s).rename(columns={"time": sentiment}))
df_orphan2=sentiment_count("sentiment_NEG","NEGATIVE",df)
df_orphan=df_orphan.join(df_orphan2)
for i in ["fear","anger","sadness","disgust"]:
  data=sentiment_count(i,1,df)
  df_orphan=df_orphan.join(data)

df_orphan=df_orphan.fillna(0)
df_orphan=df_orphan.astype('Int64')
df_orphan.to_csv("sentimental_count_test_new.csv")
df_orphan

            Tweets  sentiment_NEG  fear  anger  sadness  disgust
2020-03-29      20              7     3      0        2        0
2020-03-30      14              7     4      2        2        1
2020-03-31      17              8     6      2        3        2
2020-04-01      14              8     2      2        5        2
2020-04-02      13              6     8      4        7        1
2020-04-03      15              9     4      3        3        2
2020-04-04       7              3     1      0        1        0
2020-04-05       3              2     1      1        1        1
2020-04-06      12              9     3      1        1        1
2020-04-07      11              8     4      2        5        2
2020-04-08      19             11     9      8        9        5
2020-04-09      12              4     5      2        4        2
2020-04-10      16              5     3      1        3        1
2020-04-11      17             12     4      4        5        2
2020-04-12      10              6     1      1        2        1
2020-04-13       3              2     1      1        1        1
2020-04-14       6              2     2      1        1        0
2020-04-15      16              8     4      0        4        0
2020-04-16      14              3     2      2        3        3
2020-04-17      18              5     5      1        5        2
2020-04-18      11              4     6      4        6        4
2020-04-19       8              2     5      2        3        2
2020-04-20      11              4     4      3        3        3
2020-04-21      13              5     6      1        5        3
2020-04-22      19              7     7      3        3        3
2020-04-23       8              6     3      2        3        2
2020-04-24      12              4     2      2        4        1
2020-04-25       8              4     3      2        3        2
2020-04-26      23             14    15     14       14       13
2020-04-27      14              9     6      4        5        3
2020-04-28      10              4     6      4        3        1
2020-04-29       6              2     0      0        1        0
2020-04-30      15              7     3      2        3        1